$color-primary: #ce9898;
$color-primary-dark: #f96262;
$color-neutral: #423a3a;

$gradient-1: linear-gradient(135deg, #ffffff, #fff5f5);
$gradient-2: linear-gradient(135deg, #f8bfbf, #ee8c8c);

$width-laptop: 1024px;
