@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;
$base-font-size: 15px;
$base-font-weight: 400;

$color-main-bg: hsl(233, 47%, 7%);
$color-card-bg:  hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);

$color-text: hsl(0, 0%, 100%);
$color-main-paragraph: hsla(0, 0%, 100%, 0.75);
$color-stats-heading: hsla(0, 0%, 100%, 0.6);

$width-tablet: 768px;
$width-mobile: 375px;

@mixin media-tablet {
    @media (max-width: $width-tablet) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
}

body {
    margin: 0;
    background: $color-main-bg;
    color: $color-text;

    font-family: $font-primary;
    font-weight: $base-font-weight;
}

.container {
    display: grid;
    place-content: center;

    min-height: 100vh;
    padding: 87px 24px;
}

.card {
    max-width: 1110px;
    
    display: grid;
    grid-template-areas: 'info picture';

    grid-template-columns: 51.3% 50%;

    border-radius: 10px;
    overflow: hidden;

    background: $color-card-bg;
    
    &__content {
        padding: 70px 119px 64px 72px;
        grid-area: info;

        @include media-tablet() {
            padding: 40px 35px;
            text-align: center;
        }
    }

    &__image-container {
        background-color: $color-accent;
        grid-area: picture;
    }

    &__image {
        max-width: 100%;
        height: 100%;

        object-fit: cover;
        mix-blend-mode: multiply;
        opacity: .8;
    }

    &__heading {
        margin: 0;
        margin-bottom: 30px;
        font-size: 2.4rem;

        @include media-tablet() {
            font-size: 1.82rem;
            margin-bottom: 11px;
        }
    }

    &__heading-accent {
        color: $color-accent;
    }

    &__description {
        margin: 0;
        margin-bottom: 77px;
        line-height: 1.5;
        color: $color-main-paragraph;

        @include media-tablet() {
            line-height: 1.7;
            margin-bottom: 40px;
        }
    }

    &__stats-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 36px;

        margin: 0;
        padding: 0;
        list-style: none;

        @include media-tablet() {
            grid-template-columns: 100%;
            gap: 29px;
        }
    }

    &__stats-text {
        display: grid;

        gap: 5px;

        margin: 0;

        color: $color-stats-heading;
        text-transform: uppercase;

        font-family: $font-secondary;
        font-weight: inherit;
        font-size: 0.9rem;
    }

    &__stats-number {
       text-transform: none;
       color: $color-text;

       font-family: $font-primary;
       font-weight: 700;
       font-size: 1.6rem;
    }

    @include media-tablet {
        max-width: $width-mobile;
        grid-template-areas:
        'picture'
        'info';
        grid-template-columns: 1fr;
    }
}