$color-primary: hsl(300, 43%, 22%);
$color-primary-accent: hsl(333, 80%, 67%);
$color-neutral-dark: hsl(303, 10%, 53%);
$color-neutral-light: hsl(300, 24%, 96%);
$color-neutral-white: hsl(0, 0%, 100%);

$font-size-base: 15px;
$font-family-base: 'League Spartan', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$breakpoint-small: 375px;
$breakpoint-medium: 768px;
$breakpoint-large: 1110px;