$color-primary-1: #ff7979;
$color-primary-2: #38cc8b;

$color-accent: #5e54a4;
$color-accent-light: #bab7d4;

$color-neutral-dark: #3d3b48;
$color-neutral-light: #ffffff;
$color-neutral-lighter: #dedede;

$mobile-width: 425px;
$laptop-width: 1024px;
$tablet-width: 768px;
$desktop-width: 1440px;