$color-primary:  #4f7df3;
$color-secondary-light: #c2d3ff;
$color-secondary-dark: #ff5263;
$color-neutral: #969696;
$color-neutral-dark: #151f29;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;