$color-card-1: #45d3d3;
$color-card-2: #ea5353;
$color-card-3: #fcaf4a;
$color-card-4: #549ef2;

$color-secondary-dark: #a3a5ae;
$color-secondary-darker: #4d4f62;
$color-secondary-light: #ffffff;
$color-secondary-lighter: #f2f2f2;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-extra-light: 200;

$base-font-size: 15px;

$content-width-laptop: 1200px;
$content-width-tablet: 768px;
