@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  --clr-primary-800: #24053E;
  --clr-primary-500: #584D62;

  --clr-accent-200: #44FFA1;

  --bg-clr-1: #fff;
  --bg-clr-2: #FCF8FF;

  --ff-main: "Fraunces";
  --ff-secondary: "Manrope";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%; /* 1rem = 10px */
  background-color: var(--bg-clr-1);
  height: 100%;
}

body {
  text-align: center;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*************************/
/* General Styling */

.nav, .header {
  background-color: var(--clr-primary-800);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  padding-bottom: 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-bottom: 15rem;
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  position: absolute;
}

.header > h1 {
  color: #fff;
}

.hero__img {
  position: relative;
  transform: translateY(110%) translateX(2%);
  /* margin-bottom: 28rem; */
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 2rem;
  padding-top: 28rem;
  padding-bottom: 8rem;
  background-color: var(--bg-clr-2);
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
}

.info__circle {
  font-size: 2rem;
  border: 1px solid var(--clr-primary-500);
  border-radius: 50%;
  max-width: 3.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.info__header {
  margin-bottom: .5rem;
}

.container-3 {
  margin-top: 30rem !important;
}

.apply__info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--clr-primary-800);
  padding: 2rem;

  position: relative;
}

.apply__img {
  position: absolute;
  max-width: 80%;
  transform: translateY(-80%) translateX(50%);
  right: 50%;
}

.apply__info-section h1,
.apply__info-section p {
  color: #fff;
}

.footer {
  margin: 5rem 0;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 3rem;
}

.container-3 {
  margin: 0 2rem;
}

/*************************/
/* Helper Classes */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

/*************************/
/* Buttons */

.btn {
  border: none;
  font-size: 1.6rem;
  font-family: var(--ff-secondary);
  font-weight: 800;
  background-color: var(--clr-accent-200);
  cursor: pointer;
}

.btn__bg {
  color: var(--clr-primary-800);
  padding: 1rem 2rem;
}

.btn__bg:hover {
  color: var(--clr-accent-200);
  background-color: var(--clr-primary-800);
  border: 1px solid var(--clr-accent-200);
  padding: calc(1rem - 1px) 2rem; /* calc fixes bug where the background will expand by 1px because of adding the border */
}

.btn__no-bg {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid var(--clr-accent-200);
}

.btn__no-bg:hover {
  color: var(--clr-accent-200);
}

/*************************/
/* Typography Classes */

.heading-L {
  font-size: 5rem;
  font-family: var(--ff-main);
  color: var(--clr-primary-800);
  line-height: 6rem;
}

.heading-L > span {
  border-bottom: 3px solid var(--clr-accent-200);
}

@media only screen and (min-width: 758px) {
  .heading-L {
    font-size: 6rem;
  }  
}

@media only screen and (min-width: 1440px) {
  .heading-L {
    font-size: 8rem;
    line-height: 8rem;
  }  
}

.heading-M {
  font-size: 3.2rem;
  font-family: var(--ff-main);
  color: var(--clr-primary-800);
  line-height: 4.8rem;
}

@media only screen and (min-width: 768px) {
  .heading-M {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .heading-M {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}

.heading-S {
  font-size: 2.8rem;
  font-family: var(--ff-main);
  color: var(--clr-primary-800);
  line-height: 3.6rem;
}

@media only screen and (min-width: 1440px) {
  .heading-S {
    font-size: 3.2rem;
    line-height: 4rem;
  }  
}

.body-txt {
  font-size: 1.6rem;
  font-family: var(--ff-secondary);
  color: var(--clr-primary-500);
  line-height: 2.8rem;
}

@media only screen and (min-width: 1440px) {
  .body-txt {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }  
}