$color-primary: #24053e;
$color-primary-accent: #44ffa1;
$color-secondary-light: #ffffff;
$color-secondary-lighter: #fcf8ff;
$color-secondary-dark: #584D62;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$content-width-desktop: 1440px;
$content-width-laptop: 1024px;
$content-width-tablet: 768px;
$content-width-mobile: 375px;
