@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


$color-primary: hsl(25, 97%, 53%);
$color-neutral-light: hsl(0, 0%, 100%);
$color-neutral-grey: hsl(217, 12%, 63%);
$color-neutral-dark: hsl(216, 12%, 54%);
$color-neutral-darker: hsl(213, 19%, 18%);
$color-neutral-darkest: hsl(216, 12%, 8%);
$color-card-bg: linear-gradient(120deg, hsl(215, 20%, 17%) 0%, hsl(215, 24%, 12%) 100%);

$font-size: 15px;

$font-family: 'Overpass', sans-serif;

$font-weight: 400;

$width-mobile: 425px;

@mixin media-mobile {
    @media (max-width: $width-mobile) {
        @content;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    margin: 0;

    background: $color-neutral-darkest;
    font-family: $font-family;
    font-weight: $font-weight;
    color: $color-neutral-light;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    padding: 20px;
}

.feedback {
    max-width: 412px;

    background: $color-card-bg;

    border-radius: 30px;

    &__star {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 48px;
        height: 48px;
        background: $color-neutral-darker;
        border-radius: 50%;

        margin-bottom: 2rem;

        @include media-mobile {
            width: 40px;
            height: 40px;
            margin-bottom: 1.4rem;
        }
    }
    &__star-icon {
        @include media-mobile {
            width: 14px;
            height: 13px;
        }
    }

    &__wrapper {
        padding: 2rem 2.5rem 2rem 2rem;

        @include media-mobile {
            padding: 1.5rem 2rem 2rem 2rem;
        }
    }

    &__title {
        margin: 0;
        font-size: 1.85rem;
        font-weight: 700;

        @include media-mobile {
            font-size: 1.6rem;
        }
    }

    &__description {
        line-height: 1.5;
        color: $color-neutral-dark;

        @include media-mobile {
            font-size: 0.9rem;
        }
    }

    &__rating {
        border: 0;
        margin: 30px 0;
        padding: 0;
        
        @include media-mobile {
            margin-bottom: 25px;
        }
    }

    &__submit {
        width: 100%;
        padding: 15px 0;

        background: $color-primary;
        color: inherit;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        border: 0;
        outline: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all .6s;

        &:hover {
            background: $color-neutral-light;
            color: $color-primary;
        }
    }

    &--hidden {
        display: none;
    }

    @include media-mobile {
        border-radius: 20px;
    }
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__value {
        display: none;
    }

    &__grade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 19px;

        width: 51px;
        height: 51px;
        border-radius: 50%;

        background: $color-neutral-darker;
        color: $color-neutral-dark;
        font-weight: 700;

        cursor: pointer;

        transition: all .6s;
        
        &:hover {
            background: $color-primary;
            color: inherit;
        }

        @include media-mobile {
            width: 40px;
            height: 40px;
        }
    }

    .rating__value:checked + .rating__grade {
        background: $color-neutral-grey;
        color: inherit;
    }
}

.thank-you {
    display: none;
    flex-direction: column;
    align-items: center;
    
    max-width: 412px;
    background: $color-card-bg;

    border-radius: 30px;

    text-align: center;



    &__wrapper {
        padding: 2.875rem 2.375rem;

        @include media-mobile {
            padding: 1.5rem 2rem;
        }
    }

    &__rating {
        margin: 0;
        margin-bottom: 35px;
        display: inline-block;

        color: $color-primary;
        background: $color-neutral-darker;

        border-radius: 23px;
        padding: 0.313rem 0.75rem;
    }

    &__image {
        margin-bottom: 30px;
    }

    &__title {
        margin: 0;
        margin-bottom: 10px;

        font-size: 1.85rem;
        font-weight: 700;

        @include media-mobile {
            font-size: 1.6rem;
        }
    }

    &__description {
        margin: 0;
        line-height: 1.5;
        color: $color-neutral-dark;

        @include media-mobile {
            font-size: 0.9rem;
        }
    }

    &--active {
        display: flex;
    }
}