@mixin font-style ($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin media-tablet {
    @media screen and (max-width: $tablet-width) {
        @content;
    }
}
