@mixin font ($size, $weight: 400, $line-heigth: normal, $style: normal) {
    font-size: $size; 
    font-weight: $weight;
    line-height: $line-heigth;
    font-style: $style;
}

@mixin media-tablet {
    @media (max-width: $content-width-tablet) {
        @content;
    }
}
