* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
}

img {
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
}
