$color-primary: #66e2dc;
$color-secondary: #ffb964;
$color-primary-accent: #fa7453;
$color-secondary-light: #fcfaf9;
$color-secondary-dark: #191826;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
