.social-list {
  display: flex;
  gap: 16px;

  &__link {
    display: inline-block;
    width: 20px;
    height: 20px;

    color: $color-secondary-dark;

    @include transition;

    &:hover {
      color: $color-primary-accent;
    }
  }
}
