@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --color-qr-code-bg: #ffffff;
    --color-text-heading: #1f314f;
    --color-text-paragraph: #7d889e;
    --color-bg: #d5e1ef;

    --base-font-size: 15px;
    --base-font-family: 'Outfit', sans-serif;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    font-size: var(--base-font-size);
}

body {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    color: var(--color-text-paragraph);

    background-color: var(--color-bg);
}

.qr-code {
    max-width: 320px;
    background-color: var(--color-qr-code-bg);
    border-radius: 1rem;

    text-align: center;
}

.qr-code__wrapper {
    padding: 1.067rem 1.067rem 1.6rem;
}

.qr-code__heading {
    color: var(--color-text-heading);
    font-size: 1.467rem;
}

.qr-code__desc {
    letter-spacing: 0.013rem;
}

.qr-code__content {
    padding: 0 1.067rem;
}

.qr-code__image {
    max-width: 100%;
    border-radius: 0.667rem;
}

@media (max-width: 375px) {
    body {
        padding: 0 1.8rem;
    }
}