@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --color-bg: hsl(212, 45%, 89%);
    --color-light:hsl(0, 0%, 100%);
    --color-title: hsl(218, 44%, 22%);
    --color-text: hsl(220, 15%, 55%); 

    --mobile-width: 375px;
    --desktop-width: 1440px;

    --font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    max-width: var(--desktop-width);
    margin: 0 auto;
    background-color: var(--color-bg);

    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

.wrapper {
    margin: 0 auto;
}

.qr-code__wrapper {
    padding: 16px;
}

.qr-code {
    max-width: 320px;
    background-color: var(--color-light);
    border-radius: 20px;
}

.qr-code__image {
    max-width: 100%;
    border-radius: 10px;
}

.qr-code__content {
    text-align: center;
    max-width: 100%;
    padding: 20px 15px;
}

.qr-code__title {
    margin: 0;
    font-weight: 600;
    color: var(--color-title);
    font-size: 1.4rem;
}

.qr-code__desc {
    margin-bottom: 0;
    color: var(--color-text);
    font-size: 1rem;
}


@media screen and (max-width: 375px) {
    .container {
        padding: 0 20px;
    }
}