@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
    --color-primary: hsl(47, 88%, 63%);
    --color-neutral--light: hsl(0, 0%, 100%);
    --color-neutral-grey: hsl(0, 0%, 50%);
    --color-neutral-dark: hsl(0, 0%, 7%);

    --font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Figtree, sans-serif;
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--color-neutral-dark);

    background-color: var(--color-primary);

    line-height: 1.5;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.card {
    max-width: 384px;
}

.card__wrapper {
    padding: 23px;

    background-color: var(--color-neutral--light);
    border: 1px solid var(--color-neutral-dark);
    border-radius: 20px;

    box-shadow: 8px 8px var(--color-neutral-dark);
    
    transition: box-shadow .6s ease-in-out;
}

.card__wrapper:hover {
    box-shadow: 12px 12px var(--color-neutral-dark);
}

.card__image {
    max-width: 100%;
    border-radius: 11px;
    margin-bottom: 19px;
}

.card__tag {
    padding: 6px 12px;
    border-radius: 5px;

    font-size: 0.9rem;
    font-weight: 800;
    background-color: var(--color-primary);
}

.card__title {
    margin: 0;
    font-size: 1.5em;

    transition: color .6s ease-out;
}

.card__link {
    text-decoration: none;
    color: inherit;
}

.card__date {
    font-size: 0.9rem;
    margin-bottom: 11px;
}

.card__title:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.card__description {
    margin: 13px 0 24px 0;
    color: var(--color-neutral-grey);
}

.card__author {
    margin: 0;
    
    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 800;
    font-size: 0.9rem;
}

.card__author-photo {
    width: 32px;
    height: 32px;
}

@media (max-width: 425px) {
    .card {
        padding: 0 26px;
    }

    .card__wrapper {
        max-width: 328px;
        padding: 23px;
    }

    .card__image {
        height: 200px;
        object-fit: cover;
    }

    .card__tag {
        font-size: 0.8rem;
    }

    .card__date {
        font-size: 0.75rem;
    }

    .card__title {
        font-size: 1.25rem;
    }

    .card__description {
        font-size: 0.88rem;
    }
}