$color-primary: #2ab3b1;
$color-primary-accent: #c0df33;

$color-secondary-light: #ffffff;
$color-secondary-darker: #9aa7be;

$color-bg: #e7eff6;

$font-weight-regular: 400;
$font-weight-bold: 700;

$content-width-tablet: 768px;

$base-font-primary: 'Karla', sans-serif;
